* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 70%;
}

.logo {
  height: 120px;
  width: 120px;
  margin-left: 5px;
  padding-bottom: 5px;
}
h1 {
  font-size: 1;
}
.clear {
  clear: both;
}
.link:hover {
  font-size: 60px;
  transition: 0.4s ease;
}
a {
  color: white;
  text-decoration: none;
  font-size: 46px;
  font-family: "Lemon/Milk";
  src: url("//db.onlinewebfonts.com/t/67137b5f6928edc941186baaab5a664b.eot");
  src: url("//db.onlinewebfonts.com/t/67137b5f6928edc941186baaab5a664b.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/67137b5f6928edc941186baaab5a664b.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/67137b5f6928edc941186baaab5a664b.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/67137b5f6928edc941186baaab5a664b.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/67137b5f6928edc941186baaab5a664b.svg#Lemon/Milk")
      format("svg");
  display: flex;
}
nav {
  background-color: black;
  padding: 0px 20px;
}
nav h1 {
  float: left;
}
nav ul {
  float: right;
}
nav li {
  float: left;
  margin: 0;
  padding: 30px;
}
.about-wrapper {
  background: url("Image/about.jpg");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-section {
  text-align: center;
}

.about-header {
  color: white;
  text-decoration: none;
  font-size: 55px;
  font-family: "Lemon/Milk";
  src: url("//db.onlinewebfonts.com/t/67137b5f6928edc941186baaab5a664b.eot");
  src: url("//db.onlinewebfonts.com/t/67137b5f6928edc941186baaab5a664b.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/67137b5f6928edc941186baaab5a664b.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/67137b5f6928edc941186baaab5a664b.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/67137b5f6928edc941186baaab5a664b.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/67137b5f6928edc941186baaab5a664b.svg#Lemon/Milk")
      format("svg");
  padding-top: 80px;
}

p {
  font-size: 14px;
  color: white;
  text-decoration: none;
  font-family: "Lemon/Milk";
  src: url("//db.onlinewebfonts.com/t/67137b5f6928edc941186baaab5a664b.eot");
  src: url("//db.onlinewebfonts.com/t/67137b5f6928edc941186baaab5a664b.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/67137b5f6928edc941186baaab5a664b.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/67137b5f6928edc941186baaab5a664b.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/67137b5f6928edc941186baaab5a664b.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/67137b5f6928edc941186baaab5a664b.svg#Lemon/Milk")
      format("svg");
  display: block;
  padding-top: 20px;
  padding-left: 30%;
  padding-right: 30%;
}

.about-sign {
  padding-top: 20px;
  height: 140px;
  width: 120px;
}
