* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 70%;
}

.logo {
  height: 120px;
  width: 120px;
  margin-left: 5px;
  padding-bottom: 5px;
}
h1 {
  font-size: 1;
}
.clear {
  clear: both;
}
.link:hover {
  font-size: 60px;
  transition: 0.4s ease;
}
a {
  color: white;
  text-decoration: none;
  font-size: 46px;
  font-family: "Lemon/Milk";
  src: url("//db.onlinewebfonts.com/t/67137b5f6928edc941186baaab5a664b.eot");
  src: url("//db.onlinewebfonts.com/t/67137b5f6928edc941186baaab5a664b.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/67137b5f6928edc941186baaab5a664b.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/67137b5f6928edc941186baaab5a664b.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/67137b5f6928edc941186baaab5a664b.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/67137b5f6928edc941186baaab5a664b.svg#Lemon/Milk")
      format("svg");
  display: flex;
}
nav {
  background-color: black;
  padding: 0rem 2rem;
}
nav h1 {
  float: left;
}
nav ul {
  float: right;
}
nav li {
  float: left;
  margin: 0;
  padding: 30px;
}
.contact-wrapper {
  font-size: 70%;
  background: url("Image/Contact.jpg");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact3 {
  font-size: 100px;
  margin: 30px;
  position: absolute;
  bottom: 0px;
}
.contact2 {
  font-size: 100px;
  margin: 30px;
  position: absolute;
  bottom: 100px;
}
.contact1 {
  font-size: 100px;
  margin: 30px;
  position: absolute;
  bottom: 200px;
}

.contact1:hover {
  font-size: 120px;
  transition: 0.4s ease;
}
.contact2:hover {
  font-size: 120px;
  transition: 0.4s ease;
}
.contact3:hover {
  font-size: 120px;
  transition: 0.4s ease;
}

/* Responsive queries */
@media only screen and (max-width: 1000px) {
  .contact1 {
    font-size: 50px;
    transition: 0.3s ease;
  }
  .contact2 {
    font-size: 50px;
    transition: 0.3s ease;
  }
  .contact3 {
    font-size: 50px;
    transition: 0.3s ease;
  }
}
